# Dependencias
node_modules/

# Archivos de compilación
.next/
out/
build/
dist/

# Archivos de definición de tipos
**/*.d.ts

# Archivos de configuración
next.config.js
next-env.d.ts

# Archivos públicos
public/

# Archivos de caché
.cache/

# NO IGNORAR archivos importantes de código fuente
!src/
!pages/
!components/
!lib/
!hooks/
!utils/ 